# Dependencies
**/node_modules/

# Build
**/dist/
**/dist-ssr/

# Environment
**/.env
**/.env.local
*.local

# Database
**/*.db
**/*.db-journal

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Uploads runtime
**/uploads/*
!**/uploads/.gitkeep
